<table>
    <tr>
        <td>Image</td>
        <td>Full Name</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Order</td>
    </tr>
    <tr>
    <td><img src="{{ order.product.image.url}}" width="50" height="50"></td>
        <td>{{ customer.full_name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.phone }}</td>
    </tr>




        <table>
            <tr>
            {% for order in orders %}
            <td>{{ order.product.name }}</td>
            <td>{{ order.det_created }}</td>
            <td>{{ order.status }}</td>
             </tr>
            {% endfor %}

        </table>


</table>