<table>
    <tr>
        <th>Image</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Order</th>
    </tr>
    <tr>
    <td><img src="{{ order.product.image.url}}" width="150" height="80"></td>
        <td>{{ customer.full_name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.phone }}</td>
    </tr>




        <table>
            <tr>
            {% for order in orders %}
            <td>{{ order.product.name }}</td>
            <td>{{ order.det_created }}</td>
            <td>{{ order.status }}</td>
             </tr>
            {% endfor %}

        </table>


</table>